.Body{
    padding: 10px;
}

.HeaderBox{
    padding-top: 1px;
    height: 100px;
    width: auto;    

    /*background: rgb(120, 177, 174);*/
    background-image: linear-gradient(to bottom right, rgb(122, 177, 147),rgb(120, 177, 174), rgb(120, 151, 177) );
    
}

.Headers{
    padding-left: 20px;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: white;

}

.Greating{
    text-align: center;
    font-weight: bold;
}

.Picture{
    display: block;
    margin-left: auto;
    margin-right: auto;

    max-width: 100%;
    height: auto;
}

p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/*********************************************************************/

.Options{
    width: auto;
    height: 30px;
    padding-top: 10px;
    padding-left: 10px;
    
    background-image: linear-gradient(to bottom right, rgb(233, 233, 220),rgb(233, 233, 220), rgb(218, 218, 194));
    /*background: rgb(233, 233, 220);*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.HomeDrop{
    float: left;
    margin-left: 20px;
    margin-right: 10px;
}

.Home:hover{
    color: rgb(255, 255, 255);
    text-shadow: 2px  2px 4px #00000044;

    cursor: pointer;
}


.RecipeDrop{
    float: left;
    margin-left: 10px;
}

.RecipeContent{
    display: none;
    position: absolute;
    padding: 10px;

    background-color: rgb(243, 243, 236);
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    z-index: 1;

}

.Recipe:hover{
    color: rgb(255, 255, 255);
    text-shadow: 2px  2px 4px #3f3f3f44;

    cursor: pointer;
}

.RecipeDrop:hover .RecipeContent{
    display: block;
}


.CalendarDrop{
    float: left;
    margin-left: 20px;
}

.CalendarContent{
    display: none;
    position: absolute;
    padding-left: 10px;

    background-color:  rgb(243, 243, 236);
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    z-index: 1;

}

.Calendar:hover{
    color: rgb(255, 255, 255);
    text-shadow: 2px  2px 4px #00000044;

    cursor: pointer;
}

.CalendarDrop:hover .CalendarContent{

    display: block;
}



.ContactDrop{
    margin-left: 20px;
    float: left;
}

.ContactContent{
    display: none;
    position: absolute;
    padding-left: 10px;
    padding-bottom: 10px;

    background-color:  rgb(243, 243, 236);
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    z-index: 1;

}

.Contact:hover{
    color: rgb(255, 255, 255);
    text-shadow: 2px  2px 4px #00000044;

    cursor: pointer;

}

.ContactDrop:hover .ContactContent {
    display: block;

}

